body {
  /* background-color: white; */
  background-color: rgb(30, 30, 30);
  font-family: Arial, Helvetica, sans-serif;
}
.highlight {
  color: rgb(235, 0, 34);
}

button {
  border-radius: 5px;
  border: solid 1px black;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: 200px;
  height: 40px;
  font-weight: 600;
}

p {
  color: white;
}

button:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

#master {
  border: solid black;
  padding: 70px;
}

#logoTitle {
  justify-content: center;
  display: flex;
  border: solid red;
  padding: 0px;
}

#logoTitle p {
  font-size: 100pt;
  justify-content: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: solid rgb(0, 0, 255);
}

#logoContainer {
  border: solid brown;
  padding-top: 80pt;
}
#logoTitle img {
  border: solid black;
  width: 200px;
  height: 200px;
}

#miniNav {
  border: solid orange;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0;
}

span {
  width: 10px;
  height: 50px;
}

#searchBar {
  justify-content: center;
  display: flex;
  border: solid rgb(0, 255, 38);
  padding: 20px;
}

#searchBar input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  font-size: 20pt;
  background-color: rgb(255, 255, 216);
}

#searchBar button {
  width: 40px;
  background-color: white;
  color: black;
  font-weight: 100;
}

#recentSakuga {
  border: solid rgb(0, 255, 60);
  padding: 50px;
  justify-content: center;
  display: flex;
}

#recentSakuga div {
  border: solid orange;
  width: 700px;
  height: 400px;
}

#reccomendations {
  border: solid purple;
}

#reccomendations p {
  justify-content: center;
  display: flex;
  border: solid blue;
  width: 20%;
  font-size: 20pt;
}

#tags {
  justify-content: center;
  display: flex;
  border: solid red;
}

#tags div {
  border: solid blue;
  justify-content: center;
  display: flex;
  color: white;
}

#tags button {
  width: 100%;
}

#reccomendTags {
  justify-content: center;
  display: flex;
  border: solid green;
}

#searchBtn {
  justify-content: center;
  display: flex;
  border: solid orange;
}

#searchBtn button {
  width: 150px;
  height: 50px;

  background-color: white;
  color: black;
  font-weight: 100;
}

#tagElements {
  width: 100pt;
  background-color: rgb(255, 0, 34);
  color: white;
}
