body {
  /* background-color: white; */
  background-color: rgb(30, 30, 30);
  font-family: Arial, Helvetica, sans-serif;
}
.highlight {
  color: rgb(235, 0, 34);
}
p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border-radius: 5px;
  border: solid 0px black;
  font-size: 15pt;
  color: rgb(0, 0, 0);
  padding: 10px;
  width: auto;
  height: 40px;
  font-weight: 2px;
  display: inline-block;
  transition: all ease-in-out 0.2s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgb(235, 0, 34);
  color: white;
}

#master {
  border: none black;
  padding: 70px;
}

#logoTitle {
  justify-content: center;
  display: flex;
  border-radius: 10px;
  height: auto;
  border: none red;
  align-items: center;
}

#logoTitle p {
  font-size: 110pt;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: none rgb(0, 0, 255);
}

#logoContainer {
  border: none brown;
}

#logoTitle:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#logoTitle {
  transition: all ease-in-out 0.2s;
  border: none rgb(255, 255, 255);
  height: 140pt;
}

#logoTitle img {
  border: none black;
  padding: 1px;
  width: 150px;
  height: 150px;
}

#miniNav {
  border: none orange;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1px 0;
}

span {
  width: 10px;
  height: 50px;
}

#searchBar {
  justify-content: center;
  display: flex;
  border: none rgb(0, 255, 38);
  padding: 20px;
}

#searchBar input {
  width: 50%;
  height: 40px;
  border-radius: 5px;
  font-size: 20pt;
  padding: 5px;
  background-color: rgb(255, 255, 216);
}

#searchBar button {
  width: 40px;
  background-color: white;
  color: black;
  font-weight: 100;
}

#recentSakuga {
  border: none rgb(0, 255, 60);
  padding: 50px;
  justify-content: center;
  display: flex;
}

#recentSakuga div {
  border: solid orange;
  width: 700px;
  height: 400px;
}

#reccomendations {
  border: none purple;
}

#reccomendations p {
  justify-content: center;
  display: flex;
  border: none blue;
  width: 20%;
  font-size: 18pt;
}

#tags {
  justify-content: center;
  display: flex;
  border: none black;
  padding: 10px;
}

#tags button {
  width: 100%;
}

#reccomendTags {
  justify-content: center;
  display: flex;
  border: none green;
}

#searchBtn {
  justify-content: center;
  display: flex;
  border: none orange;
}

#searchBtn button {
  width: auto;
  height: auto;
  display: inline-block;

  background-color: white;
  color: black;
  font-weight: 100;
}

#tags button {
  font-size: 12pt;
  width: auto;
  display: inline-block;
  background-color: rgb(255, 0, 34);
  color: white;
  border: none;
}
